.label{color: black;}
     #gantipass{background: url(h600.png); border: 1px solid #ccc; width: 650px; margin-bottom: 30px;}
.inputpass label, .inputpass input{margin-bottom: 20px; width: 150px; float: left;}
#berlaku, #baru, #ulang{padding: 2px; border: 1px solid #ccc;}
.inputpass br{clear: both;}
.inputpass label{width: 250px; text-align: right; padding-right: 12px; margin-left: 12px; font-size: 15px;}
h3{padding-bottom: 10px; padding-left: 250px;}
#simpan{margin-left: 120px; background: #3399CC; padding: 4px; border: 1px solid #ccc; color: white; cursor: pointer;}
#batal{margin-left: 5px; background: #3399CC; padding: 4px; border: 1px solid #ccc; color: white; cursor: pointer;}
.inputpass input.error{background: #FFEBE8;}
.inputpass label.error{width: 190px; display: block; float: left; color: red; padding-left: 20px; background: url(unvalid.gif) no-repeat; text-align: left; margin-top: 5px; margin-left: 2px; font-size: 12px;}
.inputpass label.valid{width: 24px; background: url(valid.gif) center no-repeat; display: inline-block; text-indent: -9999px; margin-top: 5px; margin-left: -18px;}
#berlaku:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
#baru:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
#ulang:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}   
.msgberlaku{margin-left: 3px; margin-top: 2px; color: red;}
.teks{color: red; font-size: 12px; padding-left: 5px;}
.benar{margin-left: 3px; margin-top: 3px;}
.valid {
  width: 24px;
  background: url(valid.gif) center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
.peringatan{background: #FFEBE8;}